#LAB CUSTOMER ANALYSIS ROUND 1
Instructions
Read the three files into python as dataframes

Show the DataFrame's shape.

Standardize header names.

Rearrange the columns in the dataframe as needed

Concatenate the three dataframes

Which columns are numerical?

Which columns are categorical?

Understand the meaning of all columns

Perform the data cleaning operations mentioned so far in class

Delete the column education and the number of open complaints from the dataframe.
Correct the values in the column customer lifetime value. They are given as a percent, so multiply them by 100 and change dtype to numerical type.
Check for duplicate rows in the data and remove if any.
Filter out the data for customers who have an income of 0 or less.

In [1]:
# import the requisite libraries
import pandas as pd
import numpy as np

# create data frames from the files 
file1 = pd.read_csv('C:/Users/Ish/Documents/Ironhack Bootcamp/Day 2/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv')
file2 = pd.read_csv('C:/Users/Ish/Documents/Ironhack Bootcamp/Day 2/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv')
file3 = pd.read_csv('C:/Users/Ish/Documents/Ironhack Bootcamp/Day 2/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv')

# show each dataframe's shape and the list of column names to standardize the column data#
print(file1.shape, "\n", file1.columns)
print(file2.shape, "\n", file2.columns)
print(file3.shape, "\n", file3.columns)

(4008, 11)
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
(996, 11)
 Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
(7070, 11)
 Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [2]:
# Standardize header names
# Set all header names to lowercase for ease of reference
cols1 = []
for c in file1.columns:
    cols1.append(c.lower())

cols2 = []
for c in file2.columns:
    cols2.append(c.lower())

cols3 = []
for c in file3.columns:
    cols3.append(c.lower())


#print(file1.columns)
#print(file2.columns)
#print(file3.columns)

# check for headings that are not the same
header_edit = []
for column in cols2:
    if column not in cols1 and column not in cols3:
        header_edit.append(column)
print(header_edit)

for column in cols3:
    if column not in cols1 and column not in cols2:
        header_edit.append(column)
print(header_edit)

# rename the outstanding header
cols3[1] = cols1[1]

# apply changes to file columns
file1.columns = cols1
file2.columns = cols2
file3.columns = cols3

# create a list of the ordered column headers to create a standardardized order
# set the columns of file2 and file 3 to the same order
file2 = file2[['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount']]
file3 = file3[['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount']]

# check the dataframes 
print("File 1\n", file1.head())
print("File 2\n", file2.head())
print("File 3\n", file3.head())

[]
['state']
File 1
   customer          st gender             education customer lifetime value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly premium auto number of open complaints     policy type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle class  total claim amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
File 2
   customer          st gender education customer lifetime value  income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   monthly premium auto number of open complaints     policy type  \
0                    88                    1/0/00   Personal Auto
1                   114                    1/0/00    Special Auto
2                   112                    1/0/00   Personal Auto
3                   214                    1/1/00   Personal Auto
4                    94                    1/0/00  Corporate Auto

   vehicle class  total claim amount
0  Four-Door Car               633.6
1            SUV               547.2
2   Two-Door Car               537.6
3     Luxury Car              1027.2
4   Two-Door Car               451.2
File 3
   customer          st gender             education  customer lifetime value  \
0  SA25987  Washington      M  High School or Below              3479.137523
1  TB86706     Arizona      M                Master              2502.637401
2  ZL73902      Nevada      F              Bachelor              3265.156348
3  KX23516  California      F  High School or Below              4455.843406
4  FN77294  California      M  High School or Below              7704.958480

   income  monthly premium auto  number of open complaints    policy type  \
0       0                   104                          0  Personal Auto
1       0                    66                          0  Personal Auto
2   25820                    82                          0  Personal Auto
3       0                   121                          0  Personal Auto
4   30366                   101                          2  Personal Auto

   vehicle class  total claim amount
0   Two-Door Car          499.200000
1   Two-Door Car            3.468912
2  Four-Door Car          393.600000
3            SUV          699.615192
4            SUV          484.800000

In [3]:
#Concatenate the three dataframes into a single dataframe
customer_data = pd.concat([file1,file2,file3], axis = 0)

# check new dataframe shape
customer_data.shape

(12074, 11)

In [4]:
# determine which columns are numerical
print(customer_data.dtypes)

# print the columns containing numerical data

print('Numerical Data\n',customer_data._get_numeric_data().head())

# print the columns containing categorical data
print('Categorical Data\n',customer_data.select_dtypes('object').head())

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object
Numerical Data
     income  monthly premium auto  total claim amount
0      0.0                1000.0            2.704934
1      0.0                  94.0         1131.464935
2  48767.0                 108.0          566.472247
3      0.0                 106.0          529.881344
4  36357.0                  68.0           17.269323
Categorical Data
   customer          st gender             education customer lifetime value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

  number of open complaints     policy type  vehicle class
0                    1/0/00   Personal Auto  Four-Door Car
1                    1/0/00   Personal Auto  Four-Door Car
2                    1/0/00   Personal Auto   Two-Door Car
3                    1/0/00  Corporate Auto            SUV
4                    1/0/00   Personal Auto  Four-Door Car

In [5]:
# Clean and transform the data
# determine numbers of null values by column
print('Data before removing empty rows:\n',customer_data.shape)
print(customer_data.isna().sum())

#customer_data[customer_data['customer'].isna()==True].head(50) # checking rows that are null based on a specific column

# There appear to be consistent missing values across all columns in the data set.
# It would be best to drop these rows from the dataframe.
customer_data = customer_data[customer_data['customer'].isna() == False]
print('Data after removing empty rows:\n', customer_data.shape)
print(customer_data.isna().sum())

# determine the percentage of null values after cleaning.customer_data
nulls_df = pd.DataFrame(round(customer_data.isna().sum()/len(customer_data),4)*100)
nulls_df

Data before removing empty rows:
 (12074, 11)
customer                     2937
st                           2937
gender                       3059
education                    2937
customer lifetime value      2944
income                       2937
monthly premium auto         2937
number of open complaints    2937
policy type                  2937
vehicle class                2937
total claim amount           2937
dtype: int64
Data after removing empty rows:
 (9137, 11)
customer                       0
st                             0
gender                       122
education                      0
customer lifetime value        7
income                         0
monthly premium auto           0
number of open complaints      0
policy type                    0
vehicle class                  0
total claim amount             0
dtype: int64

                              0
customer                   0.00
st                         0.00
gender                     1.34
education                  0.00
customer lifetime value    0.08
income                     0.00
monthly premium auto       0.00
number of open complaints  0.00
policy type                0.00
vehicle class              0.00
total claim amount         0.00

In [6]:
# determine total numbers of each gender and compare to determine which values to use to replace the null values
print(customer_data.dtypes)
print(customer_data['gender'].value_counts(dropna = False))

# the data shows a slightly tendency for customers to also be Female, however the difference between female and male customer representation
# is only about 2.2% .it is difficult to ascertain which should be used to replace null values.

customer                      object
st                            object
gender                        object
education                     object
customer lifetime value       object
income                       float64
monthly premium auto         float64
number of open complaints     object
policy type                   object
vehicle class                 object
total claim amount           float64
dtype: object
F         4560
M         4368
NaN        122
Male        40
female      30
Femal       17
Name: gender, dtype: int64

In [7]:
# drop 'education' and 'number of open complaints'
customer_data = customer_data.drop(['education','number of open complaints'], axis = 1)
customer_data.dtypes

customer                    object
st                          object
gender                      object
customer lifetime value     object
income                     float64
monthly premium auto       float64
policy type                 object
vehicle class               object
total claim amount         float64
dtype: object

In [8]:
# correct 'customer lifetime value' from a percentage, and change dtype to numerical data
clv_corrected = list()
for val in customer_data['customer lifetime value']:
    if '%' in str(val):
        val = val[:-1]
        clv_corrected.append(val)
    else:
        clv_corrected.append(val)

customer_data['customer lifetime value'] = clv_corrected

customer_data['customer lifetime value'] = pd.to_numeric(customer_data['customer lifetime value'])*100

customer_data['customer lifetime value'].head(10)

0            NaN
1     69795359.0
2    128874317.0
3     76458618.0
4     53630765.0
5     82562978.0
6     53808986.0
7     72161003.0
8    241275040.0
9     73881781.0
Name: customer lifetime value, dtype: float64

In [9]:
# check for duplicate rows in the data. 
print('customer_data before dropping duplicates:',customer_data.shape)
customer_data = customer_data.drop_duplicates()
print('customer_data after dropping duplicates:',customer_data.shape)

customer_data before dropping duplicates: (9137, 9)
customer_data after dropping duplicates: (9134, 9)